/LinkedList$Node.class
/LinkedList.class
/Main.class
/Stack.class
/StackAsLinkedList$StackNode.class
/StackAsLinkedList.class
/SinglyLinkedList$ListNode.class
/SinglyLinkedList.class
/StackUsingArray.class
/StackUsingLinkedlist$Node.class
/StackUsingLinkedlist.class
