/LinkedList$Node.class
/LinkedList.class
/Main.class
/Stack.class
/StackAsLinkedList$StackNode.class
/StackAsLinkedList.class
/Stack$Main.class
/Exercise_2$StackNode.class
/Exercise_2.class
/Exercise_3$Node.class
/Exercise_3.class
